
body {
    margin: auto;
}
.sign-up {
    border: solid black 1px;
    width: 300px;
    padding: 10px;
    margin-bottom: 6px;
}

.sign-in {
    border: solid black 1px;
    width: 300px;
    padding: 10px;
}

.input {
    margin: 5px;
}