.counter {
    width: 200px;
    height: 100px;
    border: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    color: white;
}

.counter p {
    font-size: 16px;
}

.container-counter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 100px;
    height: 50px;
    margin: 10px;
    background-color: lavender;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.buttons {
    display: flex;
}

.add {
    display: block;
}

.funny-meter {
    width: 200px;
}