.container-joke {
    border: 1px solid;
    width: 60%;
    font-size: 20px;
    background-color: white;
}

.title-joke {
    font-size: 35px;
}

* {
    font-family: sans-serif;
}

.div-joke {
    display: flex;
    justify-content: center;
}
